/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	/* max-width: 100rem; */
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

#gallery-h1 {
    font-size: 50px;
    color: #00d0ff;
    /* font-weight: bold; */

}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
 
button, html [type="button"], [type="reset"], [type="submit"] {

    -webkit-appearance: button;
    margin-top: 10px;
    padding: 2px;
    color:black;
    background: linear-gradient(#04d6f6, #25ffbf);
    border-radius: 5px ;
    font-size: 20px;

}



/*------------------------------------------------------------
# Global classes
------------------------------------------------------------*/
.flex {
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: hsl(0, 0%, 90%);
    /* background-image: url(./images/22385577.jpg); */
    background-size: cover;
    background-color: none;
    background-image: url(./images/22385577.jpg);
    background-repeat: repeat, no-repeat;
    background-blend-mode: darken;

}

@font-face {
    font-family: "mountains";
    src: url(fonts/beyond_the_mountains.ttf);
    src: url(fonts/beyond_the_mountains.otf);
    font-weight: 400;
}

.d-col-n {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}


/*------------------------------------------------------------
# site-header
------------------------------------------------------------*/
.home-page {
    background: url(images/middle-cover.jpg) no-repeat;
}

.site-header {
    position: relative;
    width: 100%;
}

.site-header figure {
    margin: 0;
    padding: 0;
}

.site-header figure img {
    max-width: 100%;
}

/*------------------------------------------------------------
## header-bar
------------------------------------------------------------*/
.site-header .header-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 40px 0;
}

.header-bar .site-branding {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
}

.header-bar .site-branding a {
    color:#04d6f6;
    text-decoration: none;
}

/*------------------------------------------------------------
### site-navigation
------------------------------------------------------------*/
/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 22px;
    margin-left: auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background:#00d0ff;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

.site-navigation {
    position: absolute;
    top: -11px;
    right: 15px;
    z-index: 9999;
    width: 100%;
    height: 22px;
    overflow: hidden;
    list-style: none;
    transition: all .35s;
    color: hsl(0, 0%, 100%);
}

.site-navigation.show {
    height: auto;
}

.site-navigation ul {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 220px;
    height: 100vh;
    overflow-x: scroll;
    padding: 30px;
    margin: 0;
    background: #050505;
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li {
    display: block;
    padding: 15px 0;
}

.site-navigation ul li a {
    display: block;
    color:#04d6f6;
    transition: all 0.35s;
    text-decoration: none;
    font-size: 14px;
    padding-left: 40px;

}

@media screen and (min-width: 992px) {
    .header-bar .site-branding {
        margin-left: 35px;
    }

    .site-navigation {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        padding-right: 35px;
        background: transparent;
    }

    .site-navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }

    .site-navigation ul li {
        padding: 0;
    }

    .site-navigation ul li a {
        color:#04d6f6;
    }

    .site-navigation ul li a:hover {
        font-weight: bold;
        text-decoration: underline red 8px;
    }
}

/*------------------------------------------------------------
# hero
-----------------------------------------------------------*/
.hero-content {
    padding: 100px 0;
    background: url("images/cover.jpg") no-repeat center;
    background-size: 100%;
}

.hero-content .entry-header {
    position: relative;
    text-align: center;
}

.hero-content .entry-header h2 {
    padding: 25px;
    margin: 0;
    font-family: mountains;
    font-size:120px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content .entry-header .entry-meta-date {
    position: absolute;
    width: 100%;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: center;
}

@media screen and (min-width: 892px) {
    .hero-content .entry-header h2 {
        font-size: 172px;
    }

    .hero-content .entry-header .entry-meta-date {
        top: 20px;
    }
}

/*------------------------------------------------------------
## countdown
------------------------------------------------------------*/
.countdown {
    margin-top: 40px;
}

.countdown-holder {
    min-width: 150px;
    margin-bottom: 30px;
}

.countdown-holder .dday,
.countdown-holder .dhour,
.countdown-holder .dmin,
.countdown-holder .dsec {
    display: block;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    color:black;
}

.countdown-holder label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color:black;
}


/* -----------------------------------------------------------
## Downloads
----------------------------------------------------------- */
#downloads{
    color: #00d0ff;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20pxf;
}
 #down{
     background-color: #0bdeeb;
 }

/*------------------------------------------------------------
## hero-content entry-footer
------------------------------------------------------------*/
.hero-content .entry-footer {
    margin-top: 50px;
    text-align: center;
}

.hero-content .entry-footer .btn {
    background: hsl(0, 0%, 100%);
    padding: 16px 40px;
    border-radius: 0;
    margin-right: 20px;
    color: hsl(0, 0%, 17%);
    font-weight: 600;
}

.hero-content .entry-footer a:hover, .hero-content .entry-footer .current {
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
# The Lineup Artists - Headliners
------------------------------------------------------------*/
.content-section {
    min-height: 4640px;
    width: 100%;
    padding-bottom: 120px;
    background: url("images/middle-cover.jpg") no-repeat;
    background-size: 100% auto;
}

.content-section .middle-cover {
    margin: 0;
    padding: 0;
    position: relative;
}

.content-section .middle-cover img {
    max-width: 100%;
}

/*------------------------------------------------------------
## lineup-artists-headline
------------------------------------------------------------*/
.lineup-artists-headline {
    margin-top: 115px;
}

.lineup-artists-headline .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

.lineup-artists-headline .entry-title h2 {
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## lineup-artists
------------------------------------------------------------*/
.lineup-artists {
    padding-top: 80px;
}

.lineup-artists .featured-image {
    margin: 0;
    padding: 0;
}

.lineup-artists .featured-image {
    width: 100%;
}

.lineup-artists .featured-image img {
    width: 100%;
    max-width: 100%;
}

/*------------------------------------------------------------
### lineup-artists-wrap
------------------------------------------------------------*/
.lineup-artists .lineup-artists-wrap {
    margin-top: 80px;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description {
    position: relative;
    width: 100%;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    position: relative;
    padding: 30px;
    background: hsl(0, 0%, 100%);
    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
}

.lineup-artists-description .entry-title {
    font-size: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 9%);
}

.lineup-artists-description .entry-content {
    margin-top: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 60%);
    line-height: 2;
}

.lineup-artists-wrap .box-link {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -24px;
    right: 50px;
    z-index: 999;
}

@media screen and (min-width: 768px) {
    .lineup-artists .lineup-artists-wrap {
        margin-top: 30px;
    }

    .lineup-artists .featured-image {
        max-width: 360px;
    }

    .lineup-artists .lineup-artists-wrap .lineup-artists-description {
        width: calc(100% - 360px);
    }

    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        position: absolute;
        z-index: 99;
        top: 100px;
        left: -75px;
        width: calc(100% + 75px);
    }

    .lineup-artists .lineup-artists-wrap:nth-of-type(even) .lineup-artists-description-container {
        right: -75px;
        left: auto;
    }

    .lineup-artists .lineup-artists-wrap:nth-of-type(even) .box-link {
        right: auto;
        left: 50px;
    }
}

@media screen and (min-width: 992px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        padding: 50px;
    }
}


@media screen and (min-width: 1200px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        max-width: 660px;
    }

    .lineup-artists .lineup-artists-wrap:nth-last-of-type(1) {
        margin-left: 80px;
    }
}

/*------------------------------------------------------------
# the-complete-lineup
------------------------------------------------------------*/
.the-complete-lineup {
    margin-top: 115px;
}

.the-complete-lineup .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

.the-complete-lineup .entry-title h2 {
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## the-complete-lineup-artists
------------------------------------------------------------*/
.the-complete-lineup-artists {
    position: relative;
    margin-top: 110px;
    height: auto;
}

.the-complete-lineup-artists .artist-single {
    margin-bottom: 0px;
}

.the-complete-lineup-artists .artist-single:nth-of-type(even) {
    margin-top: 120px;
}

.the-complete-lineup-artists .artist-single figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.the-complete-lineup-artists .artist-single .box-link {
    position: absolute;
    top: 15px;
    left: 232px;
    cursor: pointer;
}

.the-complete-lineup-artists .artist-single .featured-image img {
    max-width: 100%;
    height: auto;
    width: 255px;
}

.the-complete-lineup-artists .artist-single .featured-image a {
    display: block;
}

.the-complete-lineup-artists .artist-single h2 {
    margin-top: 38px;
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 2%);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 0;
    }
}


@media screen and (min-width: 1200px) {
    .the-complete-lineup-artists .artist-single:nth-child(1) {
        margin-top: 2px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(2) {
        margin-top: 90px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(3) {
        margin-top: 48px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(4) {
        margin-top: 0;
    }

    .the-complete-lineup-artists .artist-single:nth-child(5) {
        margin-top: 75px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 165px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(7) {
        margin-top: 25px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(8) {
        margin-top: 75px;
    }
}

/*------------------------------------------------------------
# see the-complete-lineup button
------------------------------------------------------------*/
.see-complete-lineup {
    margin-top: 105px
}

.see-complete-lineup .entry-footer .btn {
    padding: 15px 35px;
    border-radius: 0;
    margin-right: 20px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    font-weight: 500;
}

.see-complete-lineup .entry-footer a {
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}


/* ------------------------------------------------ */
/* OUR TEAM */
/* ------------------------------------------------ */
.our-team{
    margin-top: 70px;
    /* background-color: red; */
}

.our-team h1{
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}
.card-name {
    text-align: center;
    color: black;
    font-size: 25px;
}

.card-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:black;
}



/*------------------------------------------------------------
# site-footer
------------------------------------------------------------*/
.site-footer {
    position: absolute;
    padding: 40px 0 30px;
    background: url(images/footer-cover.jpg) no-repeat;
    background-size: cover;
}

.site-footer::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 5%, 0.7);
    top: 0;
    left: 0;
}

.site-footer .footer-cover-title {
    min-height: 480px;
    width: 100%;
}

.site-footer .footer-cover-title h2 {
    font-size: 20vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    mix-blend-mode: overlay;
    z-index: 2;
}

/*------------------------------------------------------------
## .site-footer footer-content-wrapper
------------------------------------------------------------*/
.footer-content-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 5;
    top: 130px;
    left: 0;
    padding: 6px 0;
    text-align: center;
}

.footer-content-wrapper .flex {
    flex-direction: column;
}

.footer-content-wrapper .entry-title {
    text-align: center;
    margin-top: 25px;
}

.footer-content-wrapper .entry-title a {
    font-size: 52px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 1;
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .footer-content-wrapper .entry-title a {
        font-size: 100px;
    }
}

.footer-content-wrapper .entry-mail {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .entry-mail a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .copyright-info {
    margin-top: 20px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}

.footer-content-wrapper .footer-social {
    margin-top: 32px;
}

.footer-content-wrapper .footer-social .flex {
    flex-direction: row !important;
}

.footer-content-wrapper .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-content-wrapper .footer-social ul a {
    padding: 5px 16px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}


a:hover{
    color:blue;
    font-weight: bold;
    text-decoration: underline dashed;
}


/* -------------------------------------------
Events
---------------------------------------------- */


/* EFFECTS
===================================================== */
.roundedCorners {
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

.roundedCornersTop {
	-webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.roundedCornersBottom {
	-webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.boxShadow {
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* LAYOUT
===================================================== */
.wrapper {
	width: 600px;
	margin: 20px auto;
}

	.top {
		width: 100%;
		min-height: 300px;
		padding: 20px 0;
		text-align: center;
	}
	
	.main {
		width: 96%;
		padding: 2% 2% 5% 2%;
    margin: 5% 0;
		background: none;
    border-bottom: solid 1px #ccc;
	}
	
	.footer {
		width: 96%;
		padding: 2%;
		background: #222;
		border-top:
			solid
			3px
			#086FA1;
	}
	
/* GALLERY
===================================================== */
.galleryItem {
	display: inline-block;;
	position: relative;
  width: 250px;
  height: 250px;
  padding: 0;
	margin: 0 20px;
	border: solid 10px #fff;
	
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.galleryItem img {
	width: 250px;
	height: 250px;
}

.caption {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	z-index: 10;
}

.caption::before {
	content: attr(data-title);
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 0;
  font-family: 'Croissant One', cursive;
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.4em;
	color: #086FA1;
	background: #fff;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.caption::after {
	content: attr(data-description);
	position: absolute;
	bottom: -0;
	left: 0;
	width: 250px;
	height: 0;
  font-family: 'Poiret One', cursive;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.4em;
	color: #fff;
	background: #222;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.caption:hover::before {
	height: 125px;
}

.caption:hover::after {
	bottom: 0;
	height: 125px;
}


.event-heading{
    font-size: 60px;
    color: #04d6f6;
    margin-top: 10px;
    text-align: center;
}